/*Red = #FFB4B0
Blue = #4DD7FA
Light yellow = #FEFAC0
Dark yellow = #785616*/

/*******Index Page*******/

.hidden {
  display: none;
}

.visible {
  display: block;
}

/*Create grid*/
#indexBody {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 5fr;
  grid-template-areas:
  "selection selection selection info info info info info info info";
  grid-gap: 1em;
  width: 90%;
  margin: 1em auto;
  font-family: sans-serif;
}

#topArea {
  width: 90%;
  margin: 0 auto;
}

#header {
  display: flex;
  grid-area: header;
  border: 2px solid black;
  background: #FFB4B0;
  align-items: center;
  width: 100%;
}

.songSelection {
  grid-area: selection;
  display: flex;
  border: 2px solid black;
  background: #4DD7FA;
}

.songInfo {
  grid-area: info;
  display: flex;
  border: 2px solid black;
  background: #FEFAC0;
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 1em;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: blue;
}

nav ul li a:hover{
  text-decoration: none;
  color: blue;
}

nav ul li a:visited {
  text-decoration: none;
  color: blue;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  /*border: none;*/
}
#genreLabel {
  width: 100%;
  text-align: center;
}

#genre1 {
  width: 50%;
}

#genre2 {
  width: 50%;
}

#filter {
  margin: 0 auto;
  width: 100%;
}

/*input[type=range] {*/
  /*-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  /*width: 100%; /* Specific width is required for Firefox. */
  /*background: transparent; /* Otherwise white in Chrome */
/*}*/

/*input[type=range]::-webkit-slider-thumb {*/
  /*-webkit-appearance: none;*/
/*}*/

/*input[type=range]:focus {*/
  /*outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
/*}*/

/*input[type=range]::-ms-track {*/
  /*width: 100%;*/
  /*cursor: pointer;*/

  /* Hides the slider so custom styles can be added */
  /*background: transparent;*/
  /*border-color: transparent;*/
  /*color: transparent;*/
/*}*/

.songInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.songInfo h2 {
  font-size: 2em;
  font-weight: normal;
  color: #785616;
}

.song {
  margin-left: 2em;
}

/****** Add Music Page ******/

#addMusicBody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 5fr;
  grid-template-areas:
  "addArea addArea addArea addArea addArea";
  width: 90%;
  margin: 1em auto;
  font-family: sans-serif;
}

.addSong {
  display: flex;
  flex-direction: column;
  grid-area: addArea;
  align-items: center;
  width: 100%;
  height: 500px;
  background: #FEFAC0;
  border: 2px solid black;
  margin-left: 1em auto;
}

.addSong:first-child {
  padding-top: 1em;
}

.addMusicInput {
  width: 20%;
  margin-left: 1em;
}

.songInput {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  padding: 1em 0;
  margin: 0 auto;
}

#songTitleInput,
#artistInput,
#albumInput {
  width: 150px;
  margin-right: 12em;
}

#songInfo {
  display: flex;
}
